body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('Imagenes_MenuPrincipal/fondo3.png');
    background-size: cover;
    background-position: center;
}

#gameTitle {
    color: white;
    padding: 20px 0;
    text-align: center;
}

#board {
    background-image: url('Imagenes_MenuPrincipal/fondo3.png');
    background-size:cover ;
    width: 600px;
    height: 400px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 25px solid black;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.game-menu {
    margin-bottom: 20px;
    text-align: center;
}

#custom-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#custom-dialog h2 {
    margin-top: 0;
}

#custom-dialog button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#startButton, #pageSelect, #goToIndexButton {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border: 2px solid #2E7D32;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #fff;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

#startButton:hover, #pageSelect:hover, #goToIndexButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#startButton:focus, #pageSelect:focus, #goToIndexButton:focus {
    outline: none;
}

#startButton:focus-within, #pageSelect:focus-within, #goToIndexButton:focus-within {
    background-color: #E0E0E0;
}

#gameOverMessage {
    display: none;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#gameOverMessage h1 {
    font-size: 24px;
}

#finalScore {
    font-weight: bold;
    font-size: 18px;
    color: #ffcc00;
}

#restartButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#restartButton:hover {
    background-color: #45a049;
}
