body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #2E7D32; 
    color: #fff;
    padding: 20px;
}

.menu-title {
    font-size: 24px;
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu-option {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 2px solid #2E7D32; 
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #fff;
    max-width: 200px;
}

.menu-option:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-option a {
    text-decoration: none;
    color: #333;
}

.menu-option img {
    max-width: 100px;
    max-height: 100px;
}

.menu-option label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.menu-option:focus {
    outline: none;
}

.menu-option:focus-within {
    background-color: #E0E0E0;
}

footer {
    text-align: center;
    background-color: #2E7D32; 
    color: #fff;
    padding: 10px;
}

/*******/

.options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #2E7D32;
    border-radius: 5px;
    z-index: 1;
}

.menu-option:hover .options {
    display: block;
}

.options a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.options a.play {
    background-color: #2E7D32;
    color: #fff;
}

.options a.play:hover {
    background-color: #3E9838;
}



.menu-option:hover .options {
    display: block;
}

.menu-option a.play,
.menu-option a.how-to-play {
    background-color: #fff;
    color: #333;
}

.menu-option:hover a.play,
.menu-option:hover a.how-to-play {
    background-color: #2E7D32;
    color: #fff;
}

.menu-option:hover a.play:hover,
.menu-option:hover a.how-to-play:hover {
    background-color: #3E9838;
}

