body {
    font-family: Arial, sans-serif;
    background-color: #d4f7dc; /* Verde claro para el fondo */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    color: #0e8f4f; 
    text-align: center; 
}

section {
    background-color: #ffffff; /* Blanco para las secciones */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

ul, ol {
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #0e8f4f; /* Verde oscuro para el pie de página */
    color: #fff; /* Texto blanco */
}

#nutritional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food-category {
    width: 45%;
    background-color: #ffffff; /* Blanco para las categorías de alimentos */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.food-category h3 {
    color: #0e8f4f; /* Verde oscuro para los nombres de categorías */
    margin-top: 0;
}

.food-category p {
    color: #333; /* Texto oscuro */
}

.food-category img {
    display: block;
    margin: 0 auto;
    width: 350px; /* Tamaño deseado */
    height: 250px; /* Tamaño deseado */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

div{

    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin: 10px;

}

.botones {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Color del texto blanco */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cursor de tipo puntero al pasar sobre él */
    border-radius: 8px; /* Borde redondeado */
}

/* Estilos para el botón verde al pasar el cursor sobre él */
.botones:hover {
    background-color: #45a049; /* Color de fondo verde oscuro */
}

